<header class="header">
  <div class="imageContainer">
    <img class="imageHelios" src="assets/images/Helios-pyp.png" alt="Icon helios">
  </div>

  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/megaphone.svg" alt="notification">
    <p class="notisNum">39</p>
  </div>
  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/mail.svg" alt="mail">
    <p class="notisNum">57</p>
  </div>
  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/chat.svg" alt="chat">
    <p class="notisNum">68</p>
  </div>
  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/send.svg" alt="send email">
    <p class="notisNum">15</p>
  </div>
  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/telephone.svg" alt="phone">
    <p class="notisNum">58</p>
  </div>
  <div class="iconNoti">
    <img class="notisIcon" src="assets/icons/phnMsn.svg" alt="phone message">
    <p class="notisNum">15</p>
  </div>
  <div class="headerOptions">
    <img class="optionIcon" src="assets/icons/settings.svg" alt="options">
    <img class="optionIcon" src="assets/icons/user.svg" alt="uder">
  </div>
</header>
