<div class="sidebar" [ngClass]="sidebar">
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/dashboard.svg" alt="Dashboard icon">
        </div>
        <a href="#">Dashboard</a>
    </div>
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/megaphone.svg" alt="Dashboard icon">
        </div>
        <a href="#">Campañas</a>
    </div>
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/persons.svg" alt="Dashboard icon">
        </div>
        <a href="#">Pacientes</a>
    </div>
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/cellphone.svg" alt="Dashboard icon">
        </div>
        <a href="#">Programas</a>
    </div>
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/monitoring.svg" alt="Dashboard icon">
        </div>
        <a href="#">Monitoreo</a>
    </div>
    <div class="botonSideBar">
        <div class="image">
            <img class="iconos" src="assets/icons/stats.svg" alt="Dashboard icon">
        </div>
        <a href="#">Reportes y estadisticas</a>
    </div>
</div>

<button class="buttonSidebar" (click) = abrir()></button>
